@import "login.css";
@import "pagina-inical.css";

/* Geral */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #E4E0E1;
    color: #493628;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #493628;
}

li {
    list-style: none;
}

h1, p {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D6C0B3;
}

.cabecalho-logo {
    font-family: "Norican", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.cabecalho-navegacao {
    display: flex;
    gap: 2rem;
}

/* Main */

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem;
    padding: 6rem;
    background-color: #D6C0B3;
    border-radius: 1.5rem;
}

.conteudo-principal-entrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-principal-entrar-h1 {
    font-size: 2rem;
    font-weight: 500;
}

.conteudo-principal-img {
    max-width: 200px;
}

.conteudo-principal-input {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteudo-principal-input-email,
.conteudo-principal-input-senha {
    background-color: #D6C0B3;
    border-radius: 4px;
    width: 600px;
    height: 1.5rem;
}

.conteudo-principal-input-esqueceu {
    text-align: end;
}

.botao {
    background-color: #493628;
    color: #E4E0E1;
    border-radius: 4px;
    padding: 0.5rem 3rem;
    align-self: center;
}

footer {
    background-color: #D6C0B3;
    padding: 1rem 4rem;
}